/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;500;700&display=swap');
@import './theme.scss';

$accent-color: #00ffb7;

html, body { height: 100%; } 
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #333;
    color: #ddd;
    display: flex;
    flex-direction: column;
}
* { box-sizing: border-box; }

.mat-mdc-tab-body-wrapper {
    flex-grow: 1;
}

.mat-mdc-tab-body-content {
    display: flex;
    flex-direction: column;
}

a {
    &, &:hover, &:visited, &:active, &:focus {
        color: $accent-color;
        text-decoration: none;
    }
}

.mat-mdc-menu-item.with-extra-action {
    position: relative;
    padding-right: 46px;

    button {
        position: absolute;
        right: 6px;
        top: 2px;
    }
}

.spacer {
    flex-grow: 1;
}

.mat-mdc-menu-item {
    &, &:active, &:visited, &:hover, &:focus {
        color: white;
    }
}

pre {
    max-width: 100%;
    overflow-x: auto;
}

@media (max-width: 500px) {
    .mat-mdc-dialog-container.mat-dialog-container {
        padding: 12px;
    }
}

.mat-mdc-form-field.vertically-sized {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-wrapper {
        height: 100%;
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        .mat-form-field-flex {
            height: 100%;
            /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
            .mat-form-field-infix {
                height: 100%;
            }
        }
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-infix.mat-form-field-infix {
    width: initial;
}


pre {
    border: 1px solid #444;
    background: #242424;
    border-radius: 5px;
    margin: 0.5em 0;
    padding: 1em;
    white-space: pre-wrap;
    word-break: break-all;
}

code {
    border: 1px solid #444;
    background: #242424;
    border-radius: 5px;
    margin: 0.5em 0;
    padding: 0.25em;
    white-space: pre-wrap;
    display: inline;
    word-break: break-all;
}

pre.error-message {
    background: #463337;
    border-color: #745359;
}

.mat-prefix-icon {
    margin-left: 0.75em;
}