:host {
    display: flex;
    flex-direction: column;
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
    mat-tab-group {
        flex-grow: 1;
    }
}

::ng-deep rdt-tool-host + * {
    flex-grow: 1;
}

a.tab-close {
    position: absolute;
    right: 0;
}


header {
    display: flex;
    align-items: baseline;

    .logo {
        font-size: 16px;
        font-family: "Khand", sans-serif;

        &.short {
            display: none;
        }
    }
    
    // @media (max-width: 750px) {
    //     .logo.long {
    //         display: none;
    //     }

    //     .logo.short {
    //         display: initial;
    //     }
    // }

    // @media (max-width: 580px) {
    //     .logo {
    //         font-size: 16px;
    //     }
    // }

    mat-form-field {
        margin: 0 1em;
        flex-grow: 1;
    }
}

.tab-label {
    padding-right: 50px;
}

#main-tabs {
    ::ng-deep .mdc-tab {
        padding-left: 0.5em;
        padding-right: 0px;
    }
}

.hidden {
    display: none !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version.*/
mat-option.remote-tool {
    background: #1a3f34;
    .session {
        color: #00ffb7;
    }
}