<header id="nav">
    
    <mat-form-field appearance="outline">
      <mat-label>
        <!-- Tools ({{toolRegistry.tools.length}}) -->
        
        <a routerLink="/about" class="logo long">
            @rezonant/tools
        </a>
        <a routerLink="/about" class="logo short">
            @/tools
        </a>
        </mat-label>
      <span matPrefix>
        <mat-icon>search</mat-icon>
      </span>
      <input matInput type="text" name="search" [(ngModel)]="createdTool" [matAutocomplete]="toolList" />
      <mat-autocomplete #toolList="matAutocomplete" [displayWith]="getToolLabel">
        <mat-option *ngFor="let tool of filteredTools" [value]="tool">
          {{tool['label']}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
    <a mat-icon-button [matMenuTriggerFor]="globalMenu">
        <mat-icon>more_vert</mat-icon>
    </a>
</header>

<mat-menu #globalMenu="matMenu">
    <!-- <button mat-menu-item>Sign In</button> -->
    <a mat-menu-item routerLink="/about">About</a>
</mat-menu>

<mat-menu #tabMenu="matMenu">
    <button mat-menu-item (click)="renameTool(contextMenuTool)">Rename</button>
    <button mat-menu-item (click)="removeTool(contextMenuTool)">Close</button>
</mat-menu>

<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="tabMenu"
    #tabMenuTrigger="matMenuTrigger"
    ></div>

<div style="display:none;" [matMenuTriggerFor]="tabMenu"></div>

<mat-tab-group animationDuration="0ms" id="main-tabs" #tabs (contextmenu)="handleRightClick($event)" [class.hidden]="!tools?.length">
    <mat-tab *ngFor="let tool of tools">
        <ng-template mat-tab-label>
            <span class="tab-label">
                {{tool.label || tool.component?.label || 'Loading...'}}
            </span>
            <a class="tab-close" mat-icon-button (click)="removeTool(tool)">
                <mat-icon>close</mat-icon>
            </a>
        </ng-template>
        <rdt-tool-host [tool]="tool"></rdt-tool-host>
    </mat-tab>
</mat-tab-group>
<ng-container *ngIf="!tools?.length">
    Search for a tool above to get started.
</ng-container>