<header id="nav">

  <mat-form-field appearance="outline">
    <mat-label>
      <!-- Tools ({{toolRegistry.tools.length}}) -->

      <a routerLink="/about" class="logo long">
        &#64;rezonant/tools
      </a>
      <a routerLink="/about" class="logo short">
        &#64;/tools
      </a>

      @if (currentSessionLabel) {
        &raquo;
        {{currentSessionLabel}}
      }
    </mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="text" name="search" [(ngModel)]="createdTool" [matAutocomplete]="toolList" />
    <mat-autocomplete #toolList="matAutocomplete" [displayWith]="getToolLabel">
      @for (remoteTool of filteredRemoteTools; track remoteTool) {
        <mat-option [value]="remoteTool.tool" class="remote-tool">
          <span class="label">
            {{remoteTool.tool | toolLabel}}
          </span>
          from
          <span class="session">
            {{remoteTool.session | sessionLabel}}
          </span>
        </mat-option>
      }

      <mat-divider></mat-divider>

      @for (tool of filteredTools; track tool) {
        <mat-option [value]="tool">
          {{tool['label']}}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <a mat-icon-button [matMenuTriggerFor]="globalMenu">
    <mat-icon>more_vert</mat-icon>
  </a>
</header>

<mat-menu #globalMenu="matMenu">
  <a mat-menu-item (click)="renameSession()">
    <mat-icon>edit</mat-icon>
    Rename Session...
  </a>
  <a mat-menu-item (click)="newSession()">
    <mat-icon>add</mat-icon>
    New Session
  </a>
  <a mat-menu-item (click)="manageSessions()">
    <mat-icon>settings</mat-icon>
    Manage Sessions...
  </a>
  <a mat-menu-item routerLink="/about">About</a>
</mat-menu>

<mat-menu #tabMenu="matMenu">
  <button mat-menu-item (click)="renameTool(contextMenuTool)">Rename</button>
  <button mat-menu-item (click)="removeTool(contextMenuTool)">Close</button>
</mat-menu>

<div style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="tabMenu"
  #tabMenuTrigger="matMenuTrigger"
></div>

<div style="display:none;" [matMenuTriggerFor]="tabMenu"></div>

<mat-tab-group 
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropTab($event)"
    cdkDropListElementContainer=".mat-mdc-tab-labels"
    [mat-stretch-tabs]="false" 
    [preserveContent]="true"
    animationDuration="0"
    id="main-tabs" 
    #tabs 
    (contextmenu)="handleRightClick($event)" 
    [class.hidden]="!tools?.length"
    (selectedIndexChange)="tools[$event]?.host?.wasActivated(); selectedTabIndex = $event"
    [selectedIndex]="selectedTabIndex"
    >
  @for (tool of tools; track tool.id) {
    <mat-tab #tab (load)="tool.tab = tab">
        <ng-template mat-tab-label>
            <span 
                class="tab-label"
                cdkDrag
                cdkDragPreviewClass="tool-tab-dragging"
                cdkDragRootElement=".mat-mdc-tab">
                {{tool.label || tool.component?.label || 'Loading...'}}
            </span>
            <a class="tab-close" mat-icon-button (click)="removeTool(tool)">
                <mat-icon>close</mat-icon>
            </a>
        </ng-template>

        <div class="tool-bar">
            <div class="spacer"></div>
            <button mat-icon-button (click)="reload()" matTooltip="Reload this tool">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        @if (!reloading) {
            <rdt-tool-host [tool]="tool"></rdt-tool-host>
        } @else {
            Reloading
        }
    </mat-tab>
  }
</mat-tab-group>
@if (!tools?.length) {
  Search for a tool above to get started.
}